@model (Product product, List<Product> products)
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src=@Model.product.ImageUrl alt="Image">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">@Model.product.ProductName</h3>
            <h3 class="font-weight-semi-bold mb-4">@Model.product.Price ₺</h3>
            <p class="mb-4">@Model.product.SmallDescp</p>
            @if (Model.product.Category.CategoryName == "Saç Boyaları")
            {
<div class="product-option-box ">
    <div class="sku-field">
        <fieldset>
            <label class="sku-label">
                <div class="sku-label-cover">
                    <span class="sku-label-name">Renk/Renk Kodu</span>
                    <span class="sku-list-selected-info">1.0 Siyah</span>
                </div>
            </label>
            <div class="sku-list-cover">
                <div class="sku-list-row">
                    <div class="sku-list" id="renkrenk-kodu-0" data-name="Renk/Renk Kodu" data-seo="renkrenk-kodu" data-index="0">
                        <label class="sku-list-item ">
                            <input type="radio" id="sku-001-silver" data-seo="001-silver" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 00.1 Silver seçiniz" data-validation="radiocheck" data-index="0" value="00.1 Silver">00.1 Silver
                        </label><label class="sku-list-item "><input type="radio" id="sku-002-silver-white" data-seo="002-silver-white" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 00.2 Silver White seçiniz" data-validation="radiocheck" data-index="1" value="00.2 Silver White">00.2 Silver White</label><label class="sku-list-item "><input type="radio" id="sku-10-siyah" data-seo="10-siyah" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 1.0 Siyah seçiniz" data-validation="radiocheck" data-index="2" value="1.0 Siyah">1.0 Siyah</label><label class="sku-list-item chosenSku"><input type="radio" id="sku-100-acik-sari" data-seo="100-acik-sari" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 10.0 Açık Sarı seçiniz" data-validation="radiocheck" data-index="3" value="10.0 Açık Sarı">10.0 Açık Sarı</label><label class="sku-list-item "><input type="radio" id="sku-101-platin-sarisi" data-seo="101-platin-sarisi" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 10.1 Platin Sarısı seçiniz" data-validation="radiocheck" data-index="4" value="10.1 Platin Sarısı">10.1 Platin Sarısı</label><label class="sku-list-item "><input type="radio" id="sku-11-mavi-siyah" data-seo="11-mavi-siyah" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 1.1 Mavi Siyah seçiniz" data-validation="radiocheck" data-index="5" value="1.1 Mavi Siyah">1.1 Mavi Siyah</label><label class="sku-list-item "><input type="radio" id="sku-30-koyu-kahve" data-seo="30-koyu-kahve" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 3.0 Koyu Kahve seçiniz" data-validation="radiocheck" data-index="6" value="3.0 Koyu Kahve">3.0 Koyu Kahve</label><label class="sku-list-item "><input type="radio" id="sku-40-kahve" data-seo="40-kahve" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 4.0 Kahve seçiniz" data-validation="radiocheck" data-index="7" value="4.0 Kahve">4.0 Kahve</label><label class="sku-list-item "><input type="radio" id="sku-465-sarap-kizili" data-seo="465-sarap-kizili" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 4.65 Şarap Kızılı seçiniz" data-validation="radiocheck" data-index="8" value="4.65 Şarap Kızılı">4.65 Şarap Kızılı</label><label class="sku-list-item "><input type="radio" id="sku-50-acik-kahve" data-seo="50-acik-kahve" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 5.0 Açık Kahve seçiniz" data-validation="radiocheck" data-index="9" value="5.0 Açık Kahve">5.0 Açık Kahve</label><label class="sku-list-item "><input type="radio" id="sku-51-kullu-acik-kahve" data-seo="51-kullu-acik-kahve" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 5.1 Küllü Açık Kahve seçiniz" data-validation="radiocheck" data-index="10" value="5.1 Küllü Açık Kahve">5.1 Küllü Açık Kahve</label><label class="sku-list-item "><input type="radio" id="sku-53-acik-kahve-dore" data-seo="53-acik-kahve-dore" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 5.3 Açık Kahve Dore seçiniz" data-validation="radiocheck" data-index="11" value="5.3 Açık Kahve Dore">5.3 Açık Kahve Dore</label><label class="sku-list-item "><input type="radio" id="sku-5546-yakut-kizili" data-seo="5546-yakut-kizili" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 55.46 Yakut Kızılı seçiniz" data-validation="radiocheck" data-index="12" value="55.46 Yakut Kızılı">55.46 Yakut Kızılı</label><label class="sku-list-item "><input type="radio" id="sku-565-cicek-kirmizisi" data-seo="565-cicek-kirmizisi" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 5.65 Çiçek Kırmızısı seçiniz" data-validation="radiocheck" data-index="13" value="5.65 Çiçek Kırmızısı">5.65 Çiçek Kırmızısı</label><label class="sku-list-item "><input type="radio" id="sku-567-turk-kahvesi" data-seo="567-turk-kahvesi" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 5.67 Türk Kahvesi seçiniz" data-validation="radiocheck" data-index="14" value="5.67 Türk Kahvesi">5.67 Türk Kahvesi</label><label class="sku-list-item "><input type="radio" id="sku-577-bitter-cikolata" data-seo="577-bitter-cikolata" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 5.77 Bitter Çikolata seçiniz" data-validation="radiocheck" data-index="15" value="5.77 Bitter Çikolata">5.77 Bitter Çikolata</label><label class="sku-list-item "><input type="radio" id="sku-60-koyu-kumral" data-seo="60-koyu-kumral" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 6.0 Koyu Kumral seçiniz" data-validation="radiocheck" data-index="16" value="6.0 Koyu Kumral">6.0 Koyu Kumral</label><label class="sku-list-item "><input type="radio" id="sku-611-yogun-kullu-koyu-kumral" data-seo="611-yogun-kullu-koyu-kumral" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 6.11 Yoğun Küllü Koyu Kumral seçiniz" data-validation="radiocheck" data-index="17" value="6.11 Yoğun Küllü Koyu Kumral">6.11 Yoğun Küllü Koyu Kumral</label><label class="sku-list-item "><input type="radio" id="sku-63-koyu-kumral-dore" data-seo="63-koyu-kumral-dore" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 6.3 Koyu Kumral Dore seçiniz" data-validation="radiocheck" data-index="18" value="6.3 Koyu Kumral Dore">6.3 Koyu Kumral Dore</label><label class="sku-list-item "><input type="radio" id="sku-637-bronze-kahve" data-seo="637-bronze-kahve" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 6.37 Bronze Kahve seçiniz" data-validation="radiocheck" data-index="19" value="6.37 Bronze Kahve">6.37 Bronze Kahve</label><label class="sku-list-item "><input type="radio" id="sku-668-kadife-kahve" data-seo="668-kadife-kahve" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 6.68 Kadife Kahve seçiniz" data-validation="radiocheck" data-index="20" value="6.68 Kadife Kahve">6.68 Kadife Kahve</label><label class="sku-list-item "><input type="radio" id="sku-67-cikolata-kahve" data-seo="67-cikolata-kahve" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 6.7 Çikolata Kahve seçiniz" data-validation="radiocheck" data-index="21" value="6.7 Çikolata Kahve">6.7 Çikolata Kahve</label><label class="sku-list-item "><input type="radio" id="sku-677-sicak-cikolata" data-seo="677-sicak-cikolata" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 6.77 Sıcak Çikolata seçiniz" data-validation="radiocheck" data-index="22" value="6.77 Sıcak Çikolata">6.77 Sıcak Çikolata</label><label class="sku-list-item "><input type="radio" id="sku-69-kumral-tutun" data-seo="69-kumral-tutun" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 6.9 Kumral Tütün seçiniz" data-validation="radiocheck" data-index="23" value="6.9 Kumral Tütün">6.9 Kumral Tütün</label><label class="sku-list-item "><input type="radio" id="sku-70-kumral" data-seo="70-kumral" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.0 Kumral seçiniz" data-validation="radiocheck" data-index="24" value="7.0 Kumral">7.0 Kumral</label><label class="sku-list-item "><input type="radio" id="sku-711-yogun-kumral-kullu" data-seo="711-yogun-kumral-kullu" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.11 Yoğun Kumral Küllü seçiniz" data-validation="radiocheck" data-index="25" value="7.11 Yoğun Kumral Küllü">7.11 Yoğun Kumral Küllü</label><label class="sku-list-item "><input type="radio" id="sku-73-findik-kahve" data-seo="73-findik-kahve" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.3 Fındık Kahve seçiniz" data-validation="radiocheck" data-index="26" value="7.3 Fındık Kahve">7.3 Fındık Kahve</label><label class="sku-list-item "><input type="radio" id="sku-734-kumral-bakir-dore" data-seo="734-kumral-bakir-dore" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.34 Kumral Bakır Dore seçiniz" data-validation="radiocheck" data-index="27" value="7.34 Kumral Bakır Dore">7.34 Kumral Bakır Dore</label><label class="sku-list-item "><input type="radio" id="sku-743-hurrem-bakiri" data-seo="743-hurrem-bakiri" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.43 Hürrem Bakırı seçiniz" data-validation="radiocheck" data-index="28" value="7.43 Hürrem Bakırı">7.43 Hürrem Bakırı</label><label class="sku-list-item "><input type="radio" id="sku-744-bakir-cazibe" data-seo="744-bakir-cazibe" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.44 Bakır Cazibe seçiniz" data-validation="radiocheck" data-index="29" value="7.44 Bakır Cazibe">7.44 Bakır Cazibe</label><label class="sku-list-item "><input type="radio" id="sku-765-lal-kizili" data-seo="765-lal-kizili" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.65 Lal Kızılı seçiniz" data-validation="radiocheck" data-index="30" value="7.65 Lal Kızılı">7.65 Lal Kızılı</label><label class="sku-list-item "><input type="radio" id="sku-77-isiltili-kahve" data-seo="77-isiltili-kahve" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.7 Işıltılı Kahve seçiniz" data-validation="radiocheck" data-index="31" value="7.7 Işıltılı Kahve">7.7 Işıltılı Kahve</label><label class="sku-list-item "><input type="radio" id="sku-773-karamel" data-seo="773-karamel" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.73 Karamel seçiniz" data-validation="radiocheck" data-index="32" value="7.73 Karamel">7.73 Karamel</label><label class="sku-list-item "><input type="radio" id="sku-773n-altin-karamel" data-seo="773n-altin-karamel" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.73N Altın Karamel seçiniz" data-validation="radiocheck" data-index="33" value="7.73N Altın Karamel">7.73N Altın Karamel</label><label class="sku-list-item "><input type="radio" id="sku-79-acik-kumral-tutun" data-seo="79-acik-kumral-tutun" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 7.9 Açık Kumral Tütün seçiniz" data-validation="radiocheck" data-index="34" value="7.9 Açık Kumral Tütün">7.9 Açık Kumral Tütün</label><label class="sku-list-item "><input type="radio" id="sku-80-acik-kumral" data-seo="80-acik-kumral" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 8.0 Açık Kumral seçiniz" data-validation="radiocheck" data-index="35" value="8.0 Açık Kumral">8.0 Açık Kumral</label><label class="sku-list-item "><input type="radio" id="sku-811-ygn-kullu-ack-kumr" data-seo="811-ygn-kullu-ack-kumr" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 8.11 Yğn Küllü Açk Kumr seçiniz" data-validation="radiocheck" data-index="36" value="8.11 Yğn Küllü Açk Kumr">8.11 Yğn Küllü Açk Kumr</label><label class="sku-list-item "><input type="radio" id="sku-83-bal-kopugu" data-seo="83-bal-kopugu" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 8.3 Bal Köpüğü seçiniz" data-validation="radiocheck" data-index="37" value="8.3 Bal Köpüğü">8.3 Bal Köpüğü</label><label class="sku-list-item "><input type="radio" id="sku-833-kahve-kopugu" data-seo="833-kahve-kopugu" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 8.33 Kahve Köpüğü seçiniz" data-validation="radiocheck" data-index="38" value="8.33 Kahve Köpüğü">8.33 Kahve Köpüğü</label><label class="sku-list-item "><input type="radio" id="sku-835-bal-karameli" data-seo="835-bal-karameli" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 8.35 Bal Karameli seçiniz" data-validation="radiocheck" data-index="39" value="8.35 Bal Karameli">8.35 Bal Karameli</label><label class="sku-list-item "><input type="radio" id="sku-845-tarcin-bakir" data-seo="845-tarcin-bakir" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 8.45 Tarçın Bakır seçiniz" data-validation="radiocheck" data-index="40" value="8.45 Tarçın Bakır">8.45 Tarçın Bakır</label><label class="sku-list-item "><input type="radio" id="sku-873-acik-karamel" data-seo="873-acik-karamel" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 8.73 Açık Karamel seçiniz" data-validation="radiocheck" data-index="41" value="8.73 Açık Karamel">8.73 Açık Karamel</label><label class="sku-list-item "><input type="radio" id="sku-874-hurrem-karameli" data-seo="874-hurrem-karameli" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 8.74 Hürrem Karameli seçiniz" data-validation="radiocheck" data-index="42" value="8.74 Hürrem Karameli">8.74 Hürrem Karameli</label><label class="sku-list-item "><input type="radio" id="sku-90-sari" data-seo="90-sari" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 9.0 Sarı seçiniz" data-validation="radiocheck" data-index="43" value="9.0 Sarı">9.0 Sarı</label><label class="sku-list-item "><input type="radio" id="sku-91-kullu-acik-sari" data-seo="91-kullu-acik-sari" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 9.1 Küllü Açık Sarı seçiniz" data-validation="radiocheck" data-index="44" value="9.1 Küllü Açık Sarı">9.1 Küllü Açık Sarı</label><label class="sku-list-item "><input type="radio" id="sku-911-extra-acici-sari" data-seo="911-extra-acici-sari" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 911 Extra Açıcı Sarı seçiniz" data-validation="radiocheck" data-index="45" value="911 Extra Açıcı Sarı">911 Extra Açıcı Sarı</label><label class="sku-list-item "><input type="radio" id="sku-9111-ex-acci-kllu-sari" data-seo="9111-ex-acci-kllu-sari" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 911.1 Ex Açcı Kllü Sarı seçiniz" data-validation="radiocheck" data-index="46" value="911.1 Ex Açcı Kllü Sarı">911.1 Ex Açcı Kllü Sarı</label><label class="sku-list-item "><input type="radio" id="sku-9112-ex-acci-viyle-sar" data-seo="9112-ex-acci-viyle-sar" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 911.2 Ex Açcı Viyle Sar seçiniz" data-validation="radiocheck" data-index="47" value="911.2 Ex Açcı Viyle Sar">911.2 Ex Açcı Viyle Sar</label><label class="sku-list-item "><input type="radio" id="sku-912-ultra-acici-sari" data-seo="912-ultra-acici-sari" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen 912 Ultra Açıcı Sarı seçiniz" data-validation="radiocheck" data-index="48" value="912 Ultra Açıcı Sarı">912 Ultra Açıcı Sarı</label><label class="sku-list-item "><input type="radio" id="sku-kirmizi" data-seo="kirmizi" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen Kırmızı seçiniz" data-validation="radiocheck" data-index="49" value="Kırmızı">Kırmızı</label><label class="sku-list-item "><input type="radio" id="sku-mavi" data-seo="mavi" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen Mavi seçiniz" data-validation="radiocheck" data-index="50" value="Mavi">Mavi</label><label class="sku-list-item "><input type="radio" id="sku-patlican-moru" data-seo="patlican-moru" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen Patlıcan Moru seçiniz" data-validation="radiocheck" data-index="51" value="Patlıcan Moru">Patlıcan Moru</label><label class="sku-list-item "><input type="radio" id="sku-viyole" data-seo="viyole" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen Viyole seçiniz" data-validation="radiocheck" data-index="52" value="Viyole">Viyole</label><label class="sku-list-item "><input type="radio" id="sku-yesil" data-seo="yesil" class="sku-list-item-check" name="Renk/Renk Kodu" data-required-message="Lütfen Yeşil seçiniz" data-validation="radiocheck" data-index="53" value="Yeşil">Yeşil</label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>      }
            <div class="d-flex align-items-center mb-4 pt-2" style="margin-top: 15px;">
                <div class="input-group quantity mr-3" style="width: 130px;">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-minus" style="height:37px">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control bg-secondary text-center" value="1">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-plus" style="height:37px">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Sepete Ekle</button>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Açıklama</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Bilgiler</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Ürün Açıklaması</h4>
                    <p>@Model.product.Description</p>
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <h4 class="mb-3">Ek Bilgiler</h4>
                    <p>@Model.product.Description</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li>@Model.product.SmallDescp</li>
                                <li>Stok Adeti : @Model.product.StockNumber</li>
                                <li>Son Kullanma Tarihi : @Model.product.ExpirationDate</li>
                                <li>Miktar : @Model.product.Quantity</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Bunları da beğenebilirsiniz</span></h2>
    </div>
    
<div class="row px-xl-5">
    <div class="col">
        @foreach (Product item in Model.products)
        {
    <div class="col-md-3">
        <div class="card product-item border-0">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                <img class="img-fluid w-100" src=@item.ImageUrl alt="">
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                <h6 class="text-truncate mb-3">@item.ProductName</h6>
                <div class="d-flex justify-content-center">
                    <h6>@item.Price ₺</h6><h6 class="text-muted ml-2"><del>@{double old = item.Price + (item.Price % 30);} @old ₺</del></h6>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
                <a asp-controller="Product" asp-action="ProductDetail" asp-route-id=@item.ID class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ürünü İncele</a>
                <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
            </div>
        </div>
        
    </div>
                        }         
                </div>
    
</div>
                            
            </div>
<!-- Products End -->